body {
  font-family: "Indie Flower", cursive;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  padding-left: 30rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
